:root {
    --primary-color: #ff9854;
    --line-color: #faf8f9;
    --van-search-left-icon-color: var(--primary-color) !important;
    --van-index-anchor-sticky-text-color: var(--primary-color) !important;
}
body {
    font-size: 14px;
}

/*遮住原有的tabbar栏，使得子页面完整显示*/
.top-hidden {
    position: relative;
    height: 100vh;
    background-color: #ffffff;
    z-index: 99999;
    overflow: auto;
}

.bottom-gray-line {
    border-bottom: 1px solid var(--line-color);
}